---
import { downloadData } from "../functions/data";
import ItemDownload from "./ItemDownload";
import '../styles/Downloads.css';
---

<section id="downloads">
  <div class="downloads-container">
    <h2 class="downloads-title">Download History</h2>
    <div class="download-list">
      {
        downloadData.map((item) => (
          <ItemDownload
            name={item.name}
            date={item.date}
            size={item.size}
          />
        ))
      }
    </div>
  </div>
</section>
